OOP\ Uebung1/bin
OOP\ Uebung1/.settings
OOP\ Uebung1/.classpath
OOP\ Uebung1/.project
OOP\ Uebung1/.metadata
OOP\ Uebung2/bin
OOP\ Uebung2/.settings
OOP\ Uebung2/.classpath
OOP\ Uebung2/.project
OOP\ Uebung2/.metadata
*.class
*~
